<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta content="width=device-width, initial-scale=1" name="viewport" />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/tailwind.css') }}" />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/style.css') }}" />
    <meta content="#ffcc99" name="theme-color" />
    <title>URL Shortener</title>
    <meta
      content="Quick &amp; Easy To Use URL Shortener Service!"
      name="description" />
    <link rel="icon" href="https://cdn.popcat.xyz/popcat.png" />
    <meta http-equiv="refresh" content="0.7; url='{{url}}'" />
  </head>
  <body>
    <div
      class="relative loadingscreen flex justify-center items-center min-h-screen min-w-screen overflow-y-hidden overflow-x-hidden mt-[45vh]">
      <div class="absolute loadingmain min-h-screen min-w-[100vw]">
        <div class="loader"></div>
        <h1
          class="text-center text-white text-3xl mt-4 uppercase"
          style="font-family: monospace">
          Loading...
        </h1>
      </div>
    </div>
  </body>
</html>
